@model YonetimPanel48.Models.TBL_HABER

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TBL_HABER</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.P_BASLIK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.P_BASLIK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.P_ICERIK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.P_ICERIK)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.H_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
